.classpath
.project
.settings
.DS_Store
build
**/build
**/src/test/java/exploration
.gradle
spring-social-core/src/test/java/exploration
# Eclipse
**/.classpath
**/.project
**/.settings
**/bin
# Intellij
.idea/
*.iml
*.iws
